<section class="trusted-by py-4 bg-light">
    <div class="container">
        <h6 class="text-center text-muted mb-4">TRUSTED BY LEADING COMPANIES</h6>
        <div class="row justify-content-center align-items-center">
            <div class="col-6 col-md-2 mb-3 mb-md-0">
                <img src="images/logo-google.png" alt="Google" class="img-fluid client-logo">
            </div>
            <div class="col-6 col-md-2 mb-3 mb-md-0">
                <img src="images/logo-microsoft.png" alt="Microsoft" class="img-fluid client-logo">
            </div>
            <div class="col-6 col-md-2 mb-3 mb-md-0">
                <img src="images/logo-ibm.png" alt="IBM" class="img-fluid client-logo">
            </div>
            <div class="col-6 col-md-2 mb-3 mb-md-0">
                <img src="images/logo-amazon.png" alt="Amazon" class="img-fluid client-logo">
            </div>
            <div class="col-6 col-md-2">
                <img src="images/logo-cisco.png" alt="Cisco" class="img-fluid client-logo">
            </div>
        </div>
    </div>
</section>